emmerre.bw.prova.soap.module/Service Descriptors/soap.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.example.org/Schema" name="soap" targetNamespace="http://www.tibco.com/soap/">
    
  <wsdl:types>
        
    <xsd:schema targetNamespace="http://www.tibco.com/soap/">
            
      <xsd:element name="NewOperation">
                
        <xsd:complexType>
                    
          <xsd:sequence>
                        
            <xsd:element name="in" type="xsd:string"/>
                      
          </xsd:sequence>
                  
        </xsd:complexType>
              
      </xsd:element>
            
      <xsd:element name="NewOperationResponse">
                
        <xsd:complexType>
                    
          <xsd:sequence>
                        
            <xsd:element name="out" type="xsd:string"/>
                      
          </xsd:sequence>
                  
        </xsd:complexType>
              
      </xsd:element>
          
    </xsd:schema>
        
    <xsd:schema>
          	
      <xsd:import namespace="http://www.example.org/Schema" schemaLocation="../Schemas/Schema.xsd">
    	</xsd:import>
    </xsd:schema>
  </wsdl:types>
    
  <wsdl:message name="Operation1Request">
        
    <wsdl:part element="xsd1:requestOrder" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="Operation1Response">
        
    <wsdl:part element="xsd1:responseOrder" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:portType name="soap">
        
    <wsdl:operation name="Operation1">
            
      <wsdl:input message="tns:Operation1Request"/>
            
      <wsdl:output message="tns:Operation1Response"/>
          
    </wsdl:operation>
      
  </wsdl:portType>
    
  <wsdl:binding name="soapSOAP" type="tns:soap">
        
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
    <wsdl:operation name="NewOperation">
            
      <soap:operation soapAction="http://www.tibco.com/soap/NewOperation"/>
            
      <wsdl:input>
                
        <soap:body use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
      
  </wsdl:binding>
    
  <wsdl:service name="soap">
        
    <wsdl:port binding="tns:soapSOAP" name="soapSOAP">
            
      <soap:address location="http://www.example.org/"/>
          
    </wsdl:port>
      
  </wsdl:service>
  
</wsdl:definitions>
